/* ロゴ用フォント */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.nav-wrapper {
  font-family: 'Caveat', cursive;
}
/* .datepicker_icon {
  color: #5a5a5a;
  position: relative; */
  /* top: 43px;
  left: 10px; */
/* } */
.datepicker {
  color: #5a5a5a;
}
.icon_and_text_side_by_side {
  display:inline-block;
  vertical-align:middle;
  font-size: 1.2rem;
  color: #5a5a5a;
}
.managers {
  text-align : center;
  background-color: #fff;
  border-radius: 10px;
}
.driver-contena {
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px;
}

.dropzone-head {
  padding-top: 5px;
  padding-left: 8px;
  font-size: 1.2rem;
  /* font-weight: bold; */
  color: #5a5a5a;
}
.dropzone {
  /* flex-flow: row wrap; 横に並べる */
  /* padding-top: 5px; */
  padding-left: 5px;
}
.chip_size_box {
  height: 37px;
  width: 10px;
  margin: 1px;
  display:initial
}
.chip{
  height: 28px;
  line-height: 28px;
  padding: 0px 10px;
  width: 85px;
}